*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: Arial, sans-serif, Helvetica, "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #f6f2e9;
}

body{
    background-color: black;
}

#back{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(images/up_title.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    opacity: 0.6;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section-warp{
    width: 75%;
    height: 75vh;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 50px;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 999;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.head-logo{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

span{
    color: #ff6925;
}

.nav-item{
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 15px;
    cursor: pointer;
    position: relative;
}

.nav-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f6f2e9;
    bottom: -10px;
    right: 0;
    box-shadow: 0 0 5px #f6f2e9;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
}

.nav-item:hover::before{
    transform: scaleX(1);
}

.active{
    color:#ff6925;
    font-weight: bold;
}

.active::before{
    background-color: #ff6925;
    box-shadow: 0 0 5px #ff6925;
}

.hr-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.ct-right img{
    width: 100%;
}

.ct-right,
.ct-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline{
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 40px;
    letter-spacing: 1px;
    line-height: 1.2;
}

.hr-description{
    font-size: 1rem;
    color: #d3cfc6;
    line-height: 1.6;
    margin-bottom: 50px;
}

#location{
    font-size: 1rem;
    background-color: transparent;
}